body{
  font-family: 'Merriweather', serif;
  background-color: #00ccff07;
  width: 100%;
  height: auto;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , 'sans-serif';
}
::selection{
  background: #00ccff;
  color: #fff;
}
span{
  color: rgb(96, 174, 251);
}
a{
  text-decoration: none;
}



/* large screen  */
@media (min-width: 1024px) {
  .header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1rem;
    padding: 1.5rem 3rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    /* background-color: red; */
  }
}
/* small screen  */
@media (max-width: 1024px) {
  .header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vmax;
    font-size: 0.5rem;
    padding: 1.5rem 3rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    /* background-color: red; */
  }
}



.logo{
  position: relative;
  font-size: 3.1em;
  font-family: 'Nova Oval', cursive;
  color: black;
  user-select: none;
  display: flex;
  justify-content: center;;
  align-items: center;

  /* background-color: blanchedalmond; */
}
.logo:hover{
  color: rgb(96, 174, 251);
}


nav ul{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: skyblue; */
}
nav ul li{
  font-size: 1em;
  list-style: none;
  display: flex;
  
  /* background-color: green; */
}
nav ul li a{
  position: relative;
  color: black;
  font-family: 'Nova Oval', cursive;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 800;
  margin-left: 1.3em;
  margin-right: 1.3em;

  /* background-color: black; */
}
nav ul li a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0.3em;
  background-color: white;
  border-radius: 0.5rem;
  left: 0;
  bottom: -0.4em;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.4s;
}
nav ul li a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
}
nav ul button{
  width: 5em;
  height: 2.5em;
  font-family: 'Nova Oval', cursive;
  color: black;
  border: 0.2em solid black;
  background: transparent;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 0.4em;
  cursor: pointer;
  font-size: 1.21em;
  font-weight: 900;
  margin-left: 1.1em;
  transition: 0.7s;
}
nav ul button:hover{
  background-color: black;
  color: white;
}





/* large screen  */
@media (min-width: 1024px) {
  .home .video{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    position: relative;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* background-color: black; */
  }
  .home .video .back_video{
    width: 100%;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    z-index: 20;
  
    /* background-color: chocolate; */
  }
}
/* small screen  */
@media (max-width: 1024px) {
  .home .video{
    width: 100vmax;
    height: 100%;
    font-size: 1rem;
    position: relative;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* background-color: black; */
  }
  .home .video .back_video{
    width: 100vmax;
    height: 100%;
    position: relative;
    right: 0;
    top: 0;
    z-index: 20;
  
    /* background-color: chocolate; */
  }
}


.content{
  position: absolute;
  text-align: center;
  z-index: 30;
  overflow: hidden;

  /* background-color: cyan; */
}
.content h1{
  font-size: 10rem;
  color: white;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
  font-family: 'Nova Oval', cursive;
  cursor: default;
}
.content h1:hover{
  -webkit-text-stroke: 0.01rem white;
  color: transparent;
}
.dot{
  font-size: 0.7em;
}
.content a{
  text-decoration: none;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight:bold;
  border: 0.2rem solid rgb(0, 0, 0);
  padding: 1rem 3rem;
  border-radius: 50rem;
  margin-top: 1rem;
  transition: 0.7s;
}
.content a:hover{
  background-color: black;
  color: white;
}

/* large screen  */
@media (min-width: 1024px) {
  .content h1{
    font-size: 10rem;
    color: white;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Nova Oval', cursive;
    cursor: default;
  }
  .content a{
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight:bold;
    border: 0.2rem solid rgb(0, 0, 0);
    padding: 1rem 2rem;
    border-radius: 50rem;
    margin-top: 1rem;
    transition: 0.7s;
  }
}
/* small screen  */
@media (max-width: 1024px) {
  .content h1{
    font-size: 5rem;
    color: white;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Nova Oval', cursive;
    cursor: default;
  }
  .content a{
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 0.5rem;
    font-weight:bold;
    border: 0.1rem solid rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 50rem;
    margin-top: 1rem;
    transition: 0.7s;
  }
}

/* large screen  */
@media (min-width: 1024px) {
  .one{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ccff10;
  
    /* background-color: red; */
  }
}
/* small screen  */
@media (max-width: 1024px) {
  .one{
    width: 100vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ccff10;
  
    /* background-color: red; */
  }
}
.two{
  position: relative;
  width: 100%;

  /* background-color: green; */
}




.about{
  position: relative;
  width:  100%;
  height: 100%;
  padding-top: 2rem;

  /* background-color: aquamarine; */
}
.about_heading{
  position: relative;
  width:  100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  /* background-color: violet; */
}
.about_head{
  width: auto;
  height: auto;
  position: absolute;
  margin-top: 1rem;
  left: 0;
  margin-left: 6rem;

  /* background-color: red; */
}
.about_title{
  position: relative;
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 3.3rem;
  text-decoration: none;
  font-weight: 800;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}
.about_title::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: rgb(96, 174, 251);
  border-radius: 0.5rem;
  left: 0;
  bottom: -0.4rem;
  transform: scaleX(1);
}


.para_div_main{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  /* background-color: blue; */
}
.para_div{
  position: relative;
  width: 85%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0rem 0rem;

  /* background-color: aqua; */
}
.para{
  position: relative;
  width:  auto;
  height: auto;
  margin: 3rem 4rem;

  /* background-color: white; */
}
.para div p{
  font-size: 1.5rem;
  font-family: 'Titillium Web', sans-serif;
}





.best_places{
  position: relative;
  width:  100%;
  height: 100%;
  padding-top: 2rem;

  /* background-color: aquamarine; */
}
.best_places_heading{
  position: relative;
  width:  100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  /* background-color: violet; */
}
.best_places_head{
  width: auto;
  height: auto;
  position: absolute;
  margin-top: 1rem;
  left: 0;
  margin-left: 6rem;

  /* background-color: red; */
}
.best_places_title{
  position: relative;
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 3.3rem;
  text-decoration: none;
  font-weight: 800;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}
.best_places_title::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: rgb(96, 174, 251);
  border-radius: 0.5rem;
  left: 0;
  bottom: -0.4rem;
  transform: scaleX(1);
}



.items_places{
  position: relative;
  display: flex;
  justify-content: center;

  /* background-color: blue; */
}


/* large screen  */
@media (min-width: 1024px) {
  .items{
    position: relative;
    width: 85%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0rem 0rem;
  
    /* background-color: aqua; */
  }
  .places{
    position: relative;
    width:  22rem;
    height: 15rem;
    margin: 3rem 2.2rem;
  
  
    /* background-color: white; */
  }
}
/* small screen  */
@media (max-width: 1024px) {
  .items{
    position: relative;
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    margin: 0rem 0rem;
  
    /* background-color: red; */
  }
  .places{
    position: relative;
    width:  22rem;
    height: 15rem;
    margin: 3rem 2.2rem;
  
    /* background-color: white; */
  }
}


.places .pic img{
  width: 22em;
  border-radius: 3%;
  margin-top: 1em;
  margin-left: 1em;
  box-shadow: -1.5em 1em 1em rgba(0,0,0,0.1);
  cursor: pointer;
}
.places .title{
  position:absolute;
  width: 26em;
  height: 5em;
  bottom: 0;
  left: 0;
  text-align: left;
  padding-top: 0.7em;
  padding-left: 1em;
  font-size: 1em;
  box-shadow: -1em 1em 1em rgba(0,0,0,0.1);
  border-radius: 1em;
  opacity: 90%;
  transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
  cursor: pointer;
  background-color: rgb(236, 235, 235);
}
.places .title h1 {
  position:relative;
  color: black;
  opacity: 100%;
}
.places .title p{
  color: gray;
  opacity: 100%;
  padding-top: 0.3em;
}




.contact{
  position: relative;
  width:  100%;
  height: 100%;
  padding-top: 2rem;

  /* background-color: aquamarine; */
}
.contact_heading{
  position: relative;
  width:  100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  /* background-color: violet; */
}
.contact_head{
  width: auto;
  height: auto;
  position: absolute;
  margin-top: 1rem;
  left: 0;
  margin-left: 6rem;

  /* background-color: red; */
}
.contact_title{
  position: relative;
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 3.3rem;
  text-decoration: none;
  font-weight: 800;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}
.contact_title::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-color: rgb(96, 174, 251);
  border-radius: 0.5rem;
  left: 0;
  bottom: -0.4rem;
  transform: scaleX(1);
}

.contact_div_main{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5rem;

  /* background-color: blue; */
}
.contact_div{
  position: relative;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: left;
  margin: 0rem 0rem;

  /* background-color: black; */
}
.contact_box{
  position: relative;
  width:  45rem;
  height: 26rem;
  margin: 3rem 0rem;
  background-color: white;
  border-radius: 1.8rem;
  box-shadow: -1rem 1rem 1rem rgba(0,0,0,0.1);

  /* background-color: aqua; */
}

.form_group .form_name{
  margin-top: 2rem;
  padding-top: 0rem ;
}
.form_group input{
  font-family: 'Montserrat', sans-serif;
  width: 25rem;
  height: 3rem;
  font-size: 1.4rem;
  margin: 1rem 2rem;
  padding: 0rem 1rem;
  border-radius: 1rem;
  border: 0.1rem solid black;

  /* background-color: yellow; */
}
.form_group textarea{
  font-family: 'Montserrat', sans-serif;
  width: 35rem;
  height: 7rem;
  font-size: 1.4rem;
  margin: 1rem 2rem;
  padding: 0rem 1rem;
  border-radius: 1rem;
  border: 0.1rem solid black;
  
  /* background-color: yellow; */
}
.form_group .form_submit{
  width: 12rem;
}
.form_submit{
  font-size: 1rem;
  padding: 0.7rem 0.7rem;
  font-weight: 500;

  background-color: rgb(92, 172, 252);
  cursor: pointer;
}
.form_submit:hover{
  background-color: rgba(96, 173, 251, 0.900);
}
#send{
  visibility: visible;
  position: absolute;
}
#sending{
  visibility: hidden;
  position: absolute;
  width: 16rem;
}
#sent{
  visibility: hidden;
  position: absolute;
}



.social{
  position: relative;
  width:  100%;
  height: 100%;
  padding-top: 2rem;

  /* background-color: aquamarine; */
}
.social_heading{
  position: relative;
  width:  100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  /* background-color: violet; */
}
.social_head{
  width: auto;
  height: auto;
  position: absolute;
  margin-top: 1rem;
  left: 0;
  margin-left: 6rem;

  /* background-color: red; */
}
.social_title{
  position: relative;
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.3rem;
  text-decoration: none;
  font-weight: 600;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}
.social_title::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 0.25rem;
  background-color: rgb(96, 174, 251);
  border-radius: 0.5rem;
  left: 0;
  bottom: -0.4rem;
  transform: scaleX(1);
}

.social_div_main{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 7rem;

  /* background-color: blue; */
}
.social_div{
  position: relative;
  width: 80%;
  height: auto;
  display: flex;
  margin: 0rem 0rem;

  /* background-color: aqua; */
}
.social_img{
  position: relative;
  width:  5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0rem;

  /* background-color: black; */
}
.social_img .facebook{
  margin-left: 0rem;
  padding-left: 0rem;
}
.social_img img{
  width:  3.5rem;
  height: 3.5rem;
  margin: 0rem 1rem;
  border-radius: 50%;
}
.social_img img:hover{
  width:  4rem;
  height: 4rem;
  transform: rotate(21deg);

}


/* large screen  */
@media (min-width: 1024px) {
  footer{
    position: relative;
    width: 100%;
    height: 0.7rem;
    background-color: rgba(96, 173, 251, 0.421);
  }
}
/* small screen  */
@media (max-width: 1024px) {
  footer{
    position: relative;
    width: 100vmax;
    height: 0.7rem;
    background-color: rgba(96, 173, 251, 0.421);
  }

}


footer p{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.5rem;
}
footer span{
  color: navy;
  font-size:120%;
}